.app main, .app footer {
<<<<<<< HEAD
    padding-left: 1rem;
}

.footer {
    background: #3F729B;
    padding: 2em;
=======
  padding-left: 1rem;
}

.footer {
  background: #3F729B;
  padding: 2em;
>>>>>>> 77fa1265ff1f6831a6eef0b7db1bd9c9d98e4aa5
}